* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background: -webkit-linear-gradient(75deg,#6be14e,#8ad471,#55a358,#6be14e);
}

header {
    padding-left: 2em;
    padding-top: 1em;
    background: black;
    opacity: 0.5;
    height: 4em;
    color:#6be14e;
}