<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>CREATE YOUR PLAYLIST</h1>
    </header>
    <main>
        <div class="music">
            <h1>recommendations</h1>
            <div class="recom">
                {% for song in songs%}
                <div class="song-item">
                    <h1>{{ song.title }}</h1> {{ song.author }} ({{ song.duration }})
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="playlist">
            <h1>favorite playlist</h1>
            <div class="favorite">
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
                <h1>recommendations</h1>
            </div>
        </div>
    </main>  
</body>
</html>